@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

@media (max-width: 1024px) {
  .animate-scroll {
    animation: scroll 25s linear infinite;
  }
}